<form asp-controller="dipendenti" asp-action="Add" method="post">
    Name: <input type="text" name="name" /><br />
    Surname: <input type="text" name="Surname" /><br />
    Anni: <input type="number" name="Anni" /><br />
    Stipendio (€): <input type="number" name="Stipendio" /><br />
    <button>Submit</button>
</form>