

@{
    var myTitle = ViewBag.title + " e questo viene dalla variabile in vista";
    
}
@section title {SONO IL TITOLO}

<div>
    <h1> EDIL GIANLU </h1>
</div>
<figure class="figure">
    <img src="..." class="figure-img img-fluid rounded" alt="...">
    <figcaption class="figure-caption text-end">A caption for the above image.</figcaption>
</figure>

